<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>samplelist</title>
</head>
<body>
    <ul>
        <li><a href="/static/sample/src/index.html">2016-11-28</a></li>
        <li><a href="/static/sample2/src/example.html">2016-12-02</a></li>
        <li>2016-12-09</li>
        <li><a href="/static/sample3/main/src/example.html">主页</a></li>
        <li><a href="/static/sample3/analy/src/example.html">分析页</a></li>
        <li>2016-12-12</li>
        <li><a href="/static/sample4/main/src/example.html">主页</a></li>
        <li><a href="/static/sample4/analy/src/example.html">分析页</a></li>
        <li>2016-12-14</li>
        <li><a href="/static/sample5/main/src/example.html">主页</a></li>
        <li><a href="/static/sample5/analy/src/example.html">分析页</a></li>
        <li>2016-12-20</li>
        <li><a href="/static/sample6/main/src/example.html">主页</a></li>
        <li><a href="/static/sample6/topanaly/src/example.html">top分析页</a></li>
        <li><a href="/static/sample6/analy/src/example.html">分析页</a></li>
        <li>2016-12-21</li>
        <li><a href="/static/sample7/main/src/example.html">主页</a></li>
        <li><a href="/static/sample7/topanaly/src/example.html">top分析页</a></li>
        <li><a href="/static/sample7/analy/src/example.html">分析页</a></li>
    </ul>
</body>
</html>